@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  background-color: #1d1e3d;
}

header {
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  padding-right: 1rem;
}
.app-logo {
  pointer-events: none;
  width: 23rem;
}
.connect-button {
  background: linear-gradient(267.98deg, #23ce91 23.46%, #23ad4a 82.64%);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  flex: none;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 1000;
  gap: 16px;
  height: 37px;
  margin-right: 60px;
  order: 0;
  padding: 8px 16px;
  text-align: center;
  width: 162px;
  margin-bottom: 0.4rem;
}
.docs-button {
  background: linear-gradient(
    267.98deg,
    #5c99f5 23.46%,
    #397bde 82.64%
  ) !important;
  cursor: default !important;
  display: grid;
  font-size: 1.5rem;
  justify-content: center;
  width: 162px !important;
  font-family: "poppins", sans-serif;
}
.progress {
  background: #393a77;
  display: flex;
  width: 90%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8rem;
  position: relative;
  font-size: 14px;
  color: #fff;
}
.progress:before {
  background-color: hsla(0, 0%, 100%, 0.3);
  bottom: -5px;
  bottom: -33%;
  content: "";
  left: 33%;
  position: absolute;
  top: -5px;
  top: -33%;
  width: 2px;
  z-index: 9999;
}
.EpochProgress-labels {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: space-between;
  left: 0;
  padding: 0 16px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.EpochProgress-label {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  padding-left: 30px;
  text-align: left;
  width: 40.333%;
  background: linear-gradient(#c873f4, #9f7ff0);
  border-radius: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;
}

#lock {
  margin-left: 1rem;
  font-size: 1.7rem;
}
#time {
  margin-left: 1rem;
}
.stakes-parent-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin: 2rem 0;
}
.Card {
  align-content: flex-start;
  align-items: flex-start;
  background: #393a77;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem 2rem;
  position: relative;
  width: 90%;
  height: auto;
}
.Card:before {
  background: linear-gradient(270deg, transparent, #ffeba3 51.56%, transparent);
  background: linear-gradient(
    270deg,
    transparent 0,
    var(--border-color, #ffeba3) 51.56%,
    transparent 100%
  );
  border-radius: 16px 16px 0 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Card-title {
  align-items: center;
  display: flex;
  text-align: center;
}
.Card-title-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.Card-title h1 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}
.questionIcon {
  align-content: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin-top: -30px !important;
  opacity: 0.7;
  padding-left: 5px;
  width: 28px;
}
.questionIcon {
  padding-top: 15px !important;
}
.stakes-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}
.stakes-card-item {
  align-items: center;
  background: #43447e;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 17px;
  position: relative;
  width: 100%;
}
.pool1-card-item:before {
  background: linear-gradient(transparent, #69b3f7 51.56%, transparent);
}

.stakes-card-item:before {
  border-radius: 8px 0 0 8px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}
p {
  color: #fff;
}
.stakes-card-item-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 76px;
  padding: 0 10px;
}
.stakes-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
}
.stakes-text,
.stakes-text-apy {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.stakes-text-faded {
  color: #b9baff;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.stakes-text-apy {
  color: gold;
}
.stakes-text-faded {
  color: #b9baff;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.stakes-unstake-button {
  background: linear-gradient(267.98deg, #e45cf5 23.46%, #cc39de 82.64%);
  background-size: cover;
  border: none;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2),
    inset -4px 4px 10px hsla(0, 0%, 100%, 0.3);
  color: #fff;
  cursor: pointer;
  flex: none;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  height: 35px;
  order: 2;
  padding: 0;
  width: 137px;
}
.pool2-card-item:before {
  background: linear-gradient(transparent, #0ab67d 51.56%, transparent);
}

.stakes-card-item:before {
  border-radius: 8px 0 0 8px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}
#toolTipStakes {
  background-color: hsla(0, 0%, 8%, 0.9);
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  left: 340px;
  line-height: 1;
  margin-top: -200px !important;
  padding: 1rem 15px;
  padding-top: 10px !important;
  position: absolute;
  text-align: left;
  visibility: hidden;
  width: 150px;
  z-index: 999 !important;
}
.toolTip h3 {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 1rem !important;
}
h1 {
  color: #fff;
}
.parent-grid-container {
  width: 90%;
  display: flex;
  margin: 0 5rem;
  gap: 2.7rem;
}
.Card {
  width: 90%;
}
.second_card {
  align-content: flex-start;
  align-items: flex-start;
  background: #393a77;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem 2rem;
  position: relative;
  height: auto;
  width: 36rem;
}
.second_card:before {
  background: linear-gradient(270deg, transparent, #ffeba3 51.56%, transparent);
  background: linear-gradient(
    270deg,
    transparent 0,
    var(--border-color, #ffeba3) 51.56%,
    transparent 100%
  );
  border-radius: 16px 16px 0 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Card-label {
  background: #b9baff;
  border-radius: 100px;
  color: #3437f3;
  padding: 0.1rem 1rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}
#question {
  height: 4rem;
  margin-top: -13px !important;
  opacity: 0.7;
  padding-left: 5px;
  width: 28px;
}
#question {
  padding-top: 15px !important;
}
.card-text {
  font-size: 2rem;
}
.heading {
  display: flex;
  align-items: center;
}
.para p {
  font-size: 1.6rem;
  text-align: center;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.tags {
  display: flex;
  gap: 1.8rem;
}
#grp-btn,
#grp-btn-selected {
  font-size: 16px;
  margin-right: 10px;
  padding: 5px 4px;
  color: #8181b5;
}
.radius {
  border: 1px solid #b9baff;
  border-radius: 100px;
  color: #c3c4ff !important;
}

.input {
  margin: 2rem 0;
  position: relative;
}
.input .text {
  background-color: rgba(0, 0, 0, 0.2);
  border-style: hidden hidden groove;
  border-bottom: none;
  border-radius: 10px;
  color: #fff;
  font-family: Rubik;
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
  padding: 10px;
  width: 100%;
  outline: none;
  font-family: "poppins", sans-serif;
}

.input h3 {
  position: absolute;
  top: 0;
  right: 2rem;
  top: 1.2rem;
  font-size: 1.6rem;
  color: hsla(0, 0%, 100%, 0.5);
}
.user-stake-info-container {
  width: 100%;
}
.favor-list,
.pool-list {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
.user-stake-info-label {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.9;
  text-align: left;
  font-family: "poppins", sans-serif;
}
.user-stake-info-value:last-child {
  color: gold;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
}
.favor-list li,
.pool-list li {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 15px !important;
  width: 88% !important;
  align-items: center;
}
.dots {
  color: gray;
  font-size: 1.2rem;
}

.locked-button {
  align-items: center;
  background-image: linear-gradient(269.59deg, #b3b3b3 1.57%, #5b5b5b 97.79%);
  border: none;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2),
    inset -4px 4px 10px hsla(0, 0%, 100%, 0.3);
  color: #fff;
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
  font-family: Rubik;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 900;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  width: 88%;
  padding: 1.6rem;
}
.locked-button:before {
  background-image: url(../images/button.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}
.locked-button .button-text {
  position: relative;
  z-index: 1;
}
.stake-info-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 11px;
  justify-content: space-between;
  width: 95%;
}
.favor-list,
.pool-list {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
.favor-list li,
.pool-list li {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 15px !important;
  width: 100%;
}
.stake-info-label {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
  opacity: 0.9;
  text-align: left;
}
.stake-info-value,
.user-stake-info-text,
.user-stake-info-value {
  color: #fff;
  display: flex;
  flex-grow: 1;
  text-align: right;
}

.stake-info-value {
  font-size: 15.4px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
  text-align: right;
  font-family: "poppins", sans-serif;
}
.stake-info-label {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
  opacity: 0.9;
  text-align: left;
  font-family: "poppins", sans-serif;
}
.stake-info-value:before,
.user-stake-info-text:before,
.user-stake-info-value:before {
  background: repeating-linear-gradient(
    90deg,
    currentColor,
    currentColor 1px,
    transparent 2px,
    transparent 4px
  );
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 1px;
  margin-top: 1em;
  opacity: 0.2;
}
.third_card {
  align-content: flex-start;
  align-items: flex-start;
  background: #393a77;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem 2rem;
  position: relative;
  height: auto;
  width: 36rem;
}
.third_card:before {
  background: linear-gradient(270deg, transparent, #0fffaf 51.56%, transparent);
  background: linear-gradient(
    270deg,
    transparent 0,
    #0fffaf 51.56%,
    transparent 100%
  );
  border-radius: 16px 16px 0 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.favorMeterCard {
  padding-bottom: 20px !important;
}
.Card-title {
  align-items: center;
  display: flex;
  text-align: center;
}
.Card {
  align-content: flex-start;
  align-items: flex-start;
  background: #393a77;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
  padding: 5px 20px;
  position: relative;
  width: 90%;
}
.cards {
  width: 100%;
}
.favor-meter {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}
.favor-info,
.favor-meter-ring {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.favor-meter-ring {
  align-items: center;
  gap: 10px;
  height: 100%;
  justify-content: center;
}
.progress-container {
  align-items: center;
  background-color: #393a77;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.progress-text__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 85%;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  margin: -3rem 0;
  padding-bottom: 2rem;
}
.progress-text__label {
  color: #f5f5f55b;
  font-size: 1.4rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.favor-info {
  gap: 0;
  margin: 10px 0;
  padding: 0;
}
.favor-info,
.favor-meter-ring {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.progress-text__percentage h2 {
  font-size: 5rem !important;
  font-weight: bold;
  color: #ffff !important;
}
#abc {
  margin: -3.4rem 0;
}
#pool {
  margin: 3.3rem 0 !important;
}
.pools {
  color: #ffffffaa;
  font-size: 1.4rem;
}
#favor {
  width: 110%;
}
.favorAmount {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.candyCard {
  width: 29rem;
  position: absolute;
}
.candyCard:before {
  background: linear-gradient(270deg, transparent, #ffeba3 51.56%, transparent);
  background: linear-gradient(
    270deg,
    transparent 0,
    var(--border-color, #ffeba3) 51.56%,
    transparent 100%
  );
  border-radius: 16px 16px 0 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Buy-Box {
  align-items: center;
  background: linear-gradient(267.98deg, #e45cf5 23.46%, #cc39de 82.64%);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2),
    inset -4px 4px 10px hsla(0, 0%, 100%, 0.3);
  display: flex;
  height: 17vh;
  justify-content: center;
  margin: 30px auto;
  padding: 5px;
  width: 100%;
  gap: 3rem;
}
.Buy-Box-Title {
  font-size: 1.6rem;
  color: #fff;
}
.Buy-Box-Text {
  font-size: 1.1rem;
}
#buyIcon {
  margin-top: -1.8rem !important;
}
.Buy-Box-Title-Div {
  display: flex;
  align-items: center;
}
.stake-info-container {
  width: 30rem !important;
  margin-bottom: 1rem;
}
.favor-stake-info-label {
  color: #fff;
  font-size: 1.4rem;
  font-family: "poppins", sans-serif;
}

element.style {
  background: grey;
  cursor: not-allowed;
}
.Purchase-Button {
  align-items: center;
  background: linear-gradient(267.98deg, #e45cf5 23.46%, #cc39de 82.64%);
  border: none;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2),
    inset -4px 4px 10px hsla(0, 0%, 100%, 0.3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem 0;
  color: #fff;
  padding: 2.2rem 30px;
  width: 84%;
  margin-bottom: 4rem !important;
  font-size: 2rem;
}
.list {
  width: 93%;
}
.Pool3 {
  width: 32.6%;
}
#label {
  margin-top: -1rem;
  padding: 0.2rem 2rem;
}
.icon {
  margin-top: -24px !important;
}
.lpTexts {
  padding: 0.2rem 2.5rem !important;
  border: 1px solid #b9baff;
  border-radius: 5rem;
  color: #b9baff !important;
}
.parent-container-card {
  display: flex;
  gap: 2rem;
}
#pool-flex {
  margin: 0 5rem;
}
.input-container {
  position: relative;
}
.input-container .input {
  background-color: rgba(0, 0, 0, 0.2);
  border-style: hidden hidden groove;
  border-bottom: none;
  border-radius: 10px;
  color: #fff;
  font-family: Rubik;
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
  padding: 10px;
  width: 100%;
  outline: none;
  font-family: "poppins", sans-serif;
}
.input-container h3 {
  position: absolute;
  top: 0;
  right: 2rem;
  top: 3.2rem;
  font-size: 1.6rem;
  color: hsla(0, 0%, 100%, 0.5);
}
.card4 {
  width: 60%;
  margin: 0 5rem;
  margin-bottom: 3rem;
}
.card-info {
  display: flex;
  padding-left: 5rem;
  gap: 6.7rem;
}
.numbers h3 {
  color: #dad5d57d;
  font-family: "poppins", sans-serif;
  font-size: 1.4rem;
}
.numbers h2 {
  color: #ffff;
  font-size: 1.8rem;
  letter-spacing: 0.4px;
}
.numbers h4 {
  color: rgb(177, 174, 174);
  font-size: 1.6rem;
}
.numbers {
  margin-bottom: 2rem;
}
.flexx {
  display: flex;
  align-items: center;
  position: relative;
}
.flexx .abs {
  position: absolute;
  top: 0.9rem;
  left: 1.8rem;
}
#padd {
  padding-bottom: 2rem !important;
}
.footer {
  background-color: #43447e;
  width: 100%;
  padding: 2rem 4rem;
}
.footer-button {
  background: linear-gradient(267.98deg, #0ba788 23.46%, #0ac075 82.64%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 31px;
  width: 145px;
  color: #ffff;
  margin: 0 0.7rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-footer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

/* /////////////////////// */
@media (max-width: 1230px) {
  .parent-grid-container {
    flex-direction: column;
  }
  .second_card {
    width: 100%;
  }
  .card_data {
    width: 100%;
  }
  .tags {
    display: flex;
    gap: 17rem;
  }
  .padding {
    padding: 5px 74px !important;
  }
  .input .text {
    width: 88%;
  }
  .input h3 {
    right: 15rem;
  }
  .stake-info-container {
    width: 100% !important;
  }
  .stake-info-value {
    font-size: 18.4px;
  }
  .stake-info-label {
    color: #fff;
    font-size: 17px;
  }
  .para {
    display: block;
  }
  .para p {
    text-align: left;
  }
  .card-text {
    font-size: 3rem;
  }
  .Card-label {
    font-size: 1.8rem;
  }
  .third_card {
    width: 100%;
  }
  .big {
    padding: 0rem 3rem;
  }
  #abc {
    font-size: 7rem !important;
    margin: -9rem 0;
  }
  #pool {
    margin: 7rem 0 !important;
    font-size: 2rem;
  }
  .favorAmount {
    font-size: 2rem;
  }
  .favor-stake-info-label {
    font-size: 2rem;
  }
  .Pool3 {
    width: 100%;
    order: -2;
    display: flex;
  }
  #pool-flex {
    margin: 0 5rem;
  }
  .candyCard {
    width: 100%;
    position: inherit;
  }
  .Buy-Box {
    justify-content: flex-start;
  }
  .Buy-Box-Text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .Canday-box img {
    width: 10rem;
  }
  .stake-info {
    width: 100%;
  }
  .Purchase-Button {
    width: 100%;
  }
  .input-container {
    position: relative;
    width: 100%;
  }
  .input-container .input {
    width: 88%;
  }
  .input-container h3 {
    right: 15rem;
  }
  .card4 {
    width: 88%;
  }
  .card-info {
    gap: 20.7rem;
  }
}

@media (max-width: 1200px) {
  .tags {
    gap: 12rem;
  }
}

@media (max-width: 1040px) {
  .stakes-card-item {
    align-items: start;
    display: flex;
    height: auto;
    padding: 15px 17px;
    flex-direction: column;
  }
  .stakes-unstake-button {
    margin-top: 2rem;
  }
  .tags {
    gap: 7rem;
  }
  #unlocked {
    margin-left: 47rem;
  }
}

@media (max-width: 960px) {
  .card-info {
    display: flex;
    padding-left: 0rem;
    gap: 14rem;
  }
  .parent-grid-container {
    margin: 0 3rem;
  }
}

@media (max-width: 850px) {
  .card-info {
    gap: 7rem;
    align-items: center;
  }
  .tags {
    gap: 3rem;
  }
  .input h3 {
    right: 13rem !important;
  }
}

@media (max-width: 770px) {
  .Pool3 {
    width: 104%;
  }
  .images img {
    width: 85%;
  }
  .card-info {
    gap: 2rem;
  }
  #abc {
    font-size: 5rem !important;
    margin: -9rem 0;
  }
  #pool {
    margin: 7.4rem 0 !important;
    font-size: 1.6rem;
  }
  #unlocked {
    margin-left: 35rem;
  }
}

@media (max-width: 670px) {
  .footer {
    width: 102%;
  }
  .Pool3 {
    margin-left: -0.6rem;
  }
  .padding {
    padding: 5px 30px !important;
  }
  .Candy-Box img {
    width: 9rem;
    margin-left: 2rem;
  }
  .card4 {
    margin: 0 4rem;
    margin-bottom: 3rem;
  }
  .images img {
    width: 21rem;
  }
  .card-info {
    gap: 4rem;
  }
  #unlocked {
    margin-left: 28rem;
  }
  .input h3 {
    right: 13rem !important;
  }
}

@media (max-width: 620px) {
  #unlocked {
    margin-left: 28rem;
  }
  .footer-button {
    display: block;
    margin-bottom: 0.7rem;
  }
  .parent-grid-container {
    margin: 0 2rem;
  }
}

@media (max-width: 570px) {
  .tags {
    gap: 1rem;
  }
  #abc {
    font-size: 3.5rem !important;
    margin: -8rem 0;
  }
  #pool {
    font-size: 1.4rem;
  }
  .para p {
    text-align: center;
  }
}

@media (max-width: 540px) {
  #unlocked {
    margin-left: 23rem;
  }
  .card-info {
    gap: 1rem;
  }
}
@media (max-width: 400px) {
  .tags {
    gap: 0rem;
  }
  .stake-info-label {
    color: #fff;
    font-size: 13px;
  }
  .stake-info-value {
    font-size: 15.4px;
  }
  #abc {
    font-size: 3rem !important;
    margin: -1.9em 0;
  }
}

@media (max-width: 436px) {
  .stakes-card-item-content {
    gap: 27px;
  }
}

@media (max-width: 490px) {
  .numbers h2 {
    color: #ffff;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
  }
  .images img {
    width: 15rem;
  }
  .card-info {
    gap: 2rem !important;
  }
  header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
  }
  .connect-button {
    margin-left: 2rem;
  }
  .app-logo {
    pointer-events: none;
    width: 16rem;
  }
  #unlocked {
    margin-left: 15rem;
  }
  .padding {
    padding: 5px 10px !important;
  }
  .stakes-parent-container {
    margin: 2rem auto;
  }
  .parent-grid-container {
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .third_card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .favor-grid-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .card4 {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 420px) {
  .footer {
    width: 120%;
  }
  .parent-grid-container {
    margin: 0 5rem;
  }
  #pool-flex {
    margin: 0 4rem;
    width: 94%;
  }
  .card4 {
    margin: 0 5rem;
    width: 92%;
    margin-bottom: 3rem;
  }
  .stakes-parent-container {
    margin: 2rem 3rem;
    width: 100%;
  }
}

@media (max-width: 395px) {
  .card-info {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .numbers h2 {
    color: #ffff;
    font-size: 2.2rem;
    letter-spacing: 0.4px;
  }
}

@media (max-width: 360px) {
  .footer {
    width: 139%;
  }
  .second_card {
    width: 120%;
  }
  .parent-grid-container {
    margin: 0 7rem;
  }
  #pool-flex {
    margin: 0 5rem;
    width: 105%;
  }
  .card4 {
    margin: 0 7rem;
    margin-bottom: 3rem;
  }
  .stakes-parent-container {
    margin: 2rem 3rem;
    width: 115%;
  }
  .progress {
    width: 120%;
    margin: 0 2rem;
  }
  .stakes-card-item-content {
    gap: 30px;
  }
}

@media (max-width: 348px) {
  .Candy-Box img {
    width: 6rem;
    margin-left: 0rem;
  }
  .list {
    width: 100%;
  }
  .favor-stake-info-label {
    font-size: 1.6rem;
  }
  #abc {
    font-size: 2.4rem !important;
    margin: -1.9em 0;
  }
  #pool {
    margin: 4.4rem 0 !important;
    font-size: 1.3rem;
  }
}

@media (max-width: 330px) {
  .stakes-parent-container {
    margin: 2rem 3rem;
    width: 125%;
  }
  .parent-grid-container {
    margin: 0 9rem;
  }
  .second_card {
    width: 130%;
  }
  .card4 {
    margin: 0 5rem;
    width: 119%;
    margin-bottom: 3rem;
  }
  .footer {
    width: 150%;
  }
  #pool-flex {
    margin: 0 5rem;
    width: 118%;
  }
}
